body,
.board-grid {
    background-color: black;
    color: whitesmoke;
}

header,
#status-area,
main,
.board-grid,
#restart,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


#win-banner {
    width: auto;
    height: 50px;
}

#game-board {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 600px;
    height: 600px;
    background-color: yellow;
}

.board-grid {
    height: 196px;
    width: 196px;
    font-size: 150px;
}


.left {
    margin-right: 6px;
}

.right {
    margin-left: 6px;
}

.mid {
    margin-top: 6px;
    margin-bottom: 6px;
}

#start-btn {
    width: 100px;
    height: 20px;
    background-color: yellow;
    border: none;
    border-radius: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: small;
}

a:visited {
    color: whitesmoke;
}